#title {
    color: white;
    background-image: url("images/haceta_head_lighthouse.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.dark-section {
    background-color: #292b2c;
    color: white;
}

.site-width {
    padding: 1% 15%;
}

.skill-img {
    padding: 1rem;
}

.title-text {
    text-align: center;
    padding: 25%;
}

.q-stats {
    padding: 4% 0 2% 0;
}

.vertical-center {
    vertical-align: middle;
}

@media (min-width: 992px) {
    .bio {
        font-size: larger;
        padding-bottom: 2%;
    }

    .navbar-brand {
        font-size: 1.5rem !important;
    }

    .profile-pic {
        border-radius: 8%;
        width: 240px;
    }

    .title-name {
        font-size: 7rem;
    }
}
